<div class="sidebar" id="sidebar">
	<div class="dashboard">
		<!-- Button trigger modal -->
		<a id="dashboard" href="/admin">
			<!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Dashboard -->
			<i class="fa-solid fa-table-list"></i>&nbsp;&nbsp;Dashboard
		</a>
	</div>
	<div class="department">
		<!-- Button trigger modal -->
		<a id="departments" href="/admin/departments">
			<!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Departments -->
			<i class="fa-solid fa-building"></i>&nbsp;&nbsp;Departments
		</a>
	</div>

	<div class="subject">
		<a id="subjects" href="/admin/subjects">
			<!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Subjects -->
			<i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Subjects
		</a>
	</div>
	<div class="student">
		<a id="students" href="/admin/students">
			<!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Students -->
			<i class="fa-solid fa-users"></i>&nbsp;&nbsp;Students
		</a>
	</div>
	<div class="group">
		<a id="groups" href="/admin/groups">
			<!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;groups -->
			<i class="fa-solid fa-users"></i>&nbsp;&nbsp;Student Groups
		</a>
	</div>
	<div class="teacher">
		<a id="teachers" href="/admin/teachers">
			<!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Teachers -->
			<i class="fa-solid fa-chalkboard-user"></i>&nbsp;&nbsp;Teachers
		</a>
	</div>
	<div class="quiz">
		<a id="quiz" href="/admin/quiz">
			<!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;quizzess -->
			<i class="fa-regular fa-lg fa-file-zipper"></i>&nbsp;&nbsp;Quizzes
		</a>
	</div>
	<div class="logout">
		<a id="logout" href="/teacher/logout">
		  <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Subjects -->
		  <i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Logout
		</a>
	  </div>
</div>
<script src="/scripts/adminSidebar.js"></script>