<div class="sidebar" id="sidebar">
	<div class="dashboard">
		<!-- Button trigger modal -->
		<a id="dashboard" href="/admin"
			><i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Dashboard
		</a>
	</div>
	<div class="department">
		<!-- Button trigger modal -->
		<a id="departments" href="/admin/departments"
			><i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Departments
		</a>
	</div>

	<div class="subject">
		<a id="subjects" href="/admin/subjects"
			><i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Subjects
		</a>
	</div>
	<div class="student">
		<a id="students" href="/admin/students"
			><i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Students
		</a>
	</div>
</div>
