<header class="header">
	<div class="menu-icon" onclick="openSidebar()">
		<!-- <span class="material-icons-outlined"></span>  -->
		<span><i class="fa-solid fa-bars fa-xl"></i></span>
	</div>
	<div class="header-left">
		<h2 class="mt-3">QuizApp</h2>
	</div>
	<div class="header-right">
		<i class="fa fa-fw fa-user fa-xl"></i>&nbsp;Admin
	</div>
</header>
