<div class="sidebar" id="sidebar">
	<div class="department">
		<!-- Button trigger modal -->
		<a data-bs-toggle="modal" data-bs-target="#deptModal"
			><i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;ADD DEPARTMENT
		</a>

		<!-- Modal -->
		<%- include("./addDepartment") %>
	</div>

	<div class="subject">
		<a data-bs-toggle="modal" data-bs-target="#subModal"
			><i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;ADD SUBJECT
		</a>
		<%- include("./addSubject") %>
	</div>
</div>
