<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TRY1</title>
		<!-- done -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.datatables.net/1.13.6/css/dataTables.uikit.min.css"
		/>

		
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Belanosima&family=Mulish:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Ubuntu:wght@500&display=swap"
			rel="stylesheet"
		/>
	</head>
	<style>
		.uk-table-hover tbody tr:hover,
		.uk-table-hover > tr:hover {
			background: #c4d3f6;
			background-color: #c4d3f6;
			background-position-x: 0%;
			background-position-y: 0%;
			background-repeat: repeat;
			background-attachment: scroll;
			background-image: none;
			background-size: auto;
			background-origin: padding-box;
			background-clip: border-box;
		}
		table.dataTable thead {
			background-color: #7fb6ac;
		}
		table.dataTable thead th {
			color: #000;
			font-weight: 500;
			font-family: "Ubuntu", sans-serif;
			font-size: 20px;
		}
		#datatable_wrapper {
			margin: 50px;
		}
		#datatable {
			margin-top: 15px;
			overflow: hidden;
			border-radius: 15px;
		}
		table.dataTable tr.even {
			background-color: #e6f4f1;
		}
		table.dataTable tr.odd {
			background-color: #e6f4f1;
		}
		table.dataTable tr.even:hover {
			background-color: #c4d3f6;
		}
		table.dataTable tr.odd:hover {
			background-color: #c4d3f6;
		}
		.paginate_button.next {
			margin-left: 20px;
		}
		.paginate_button.previous {
			margin-right: 20px;
		}
		.cdatatableDetails {
			margin-top: 4px;
		}
		.page-link {
			text-decoration: none;
		}
		.page-link:hover {
			text-decoration: none;
		}
		.sorting {
			text-align: center;
		}
		/* dataTables CSS modification & positioning */
		/* table.dataTable thead .sorting:before,
		table.dataTable thead .sorting_asc:before,
		table.dataTable thead .sorting_desc:before,
		table.dataTable thead .sorting_asc_disabled:before,
		table.dataTable thead .sorting_desc_disabled:before {
			right: 22px !important;
			content: "\2191" !important;
			top: 31px;
			
		}
		table.dataTable thead .sorting:after,
		table.dataTable thead .sorting_asc:after,
		table.dataTable thead .sorting_desc:after,
		table.dataTable thead .sorting_asc_disabled:after,
		table.dataTable thead .sorting_desc_disabled:after {
			right: 15px !important;
			content: "up2" !important;
		}
		table.dataTable thead th.sorting:after {
			content: "up3" !important;
			color: #000 !important;
			font-size: 0.8em !important;
			/* padding-top: 0.5em !important; 
			
		}
		table.dataTable thead th.sorting_asc:after {
			content: "\2193" !important;
			bottom: 100px;
		}
		table.dataTable thead th.sorting_desc:after {
			content: "\2193" !important;
		} */

/* 
		table.dataTable thead .sorting_desc::before {
			/* right: 22px !important; 
			content: "0" !important;
			/* top: 31px; 
			
		}
		table.dataTable thead .sorting_desc::after {
			/* right: 22px !important; 
			content: "1" !important;
			/* top: 31px; 
			
		}
		table.dataTable thead .sorting_asc::before {
			/* right: 22px !important; 
			content: "2" !important;
			/* top: 31px; 
			
		}
		table.dataTable thead .sorting_asc::after {
			/* right: 22px !important; 
			content: "3" !important;
			/* top: 31px; 
			
		} */
		table.dataTable thead .sorting::before {
			/* right: 22px !important; */
			margin-right: 10px;
			content: "\2191" !important;
			/* top: 31px; */
			
		}
		table.dataTable thead .sorting::after {
			/* right: 22px !important; */
			margin-top: -8.2px;
			content: "\2193" !important;
			/* top: 31px; */
			
		}


	</style>
	<body>
		<table
			id="datatable"
			class="uk-table uk-table-hover uk-table-striped text-center"
		>
			<thead>
				<th>Heading 1</th>
				<th>Heading 2</th>
				<th>Heading 3</th>
				<th>Heading 4</th>
			</thead>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
			<tr>
				<td>Data 1</td>
				<td>Data 2</td>
				<td>Data 3</td>
				<td>Data 4</td>
			</tr>
		</table>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
			integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
		<script>
			$(document).ready(() => {
				var myTable;

				myTable = $("#datatable").DataTable({
					pagingType: "simple_numbers",
					language: {
						paginate: {
							previous: "<",
							next: ">",
						},
					},
					/*drawCallback: function () {
						$(
							".paginate_button.next",
							this.api().table().container()
						).on("click", function () {
							var info = myTable.page.info();
							console.log(info);
							$(".cdatatableDetails").remove();
							$(".paginate_button.next").before(
								$("<span>", {
									text:
										" Page " +
										(info.page + 1) +
										" of " +
										info.pages,
									class: "cdatatableDetails",
								})
							);
						});
						$(
							".paginate_button.previous",
							this.api().table().container()
						).on("click", function () {
							var info = myTable.page.info();
							console.log(info);
							$(".cdatatableDetails").remove();
							$(".paginate_button.next").before(
								$("<span>", {
									text:
										" Page " +
										(info.page + 1) +
										" of " +
										info.pages,
									class: "cdatatableDetails",
								})
							);
						});
					},*/
				});

				/*var info = myTable.page.info();
				console.log(info);
				$(".paginate_button.next").before(
					$("<span>", {
						text: " Page " + (info.page + 1) + " of " + info.pages,
						class: "cdatatableDetails",
					})
				);*/
			});
		</script>
	</body>
</html>
