<div
    class="modal fade modal-xl"
    id="filterModal"
    tabindex="-1"
    aria-labelledby="filterModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">FILTERS</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4 mb-4">
                        <label>Type</label>
                        <select
                            class="form-control"
                            id="typeselect"
                            name="typeselect"
                        >
                            <option selected="" value="All">All</option>
                            <option value="1">MCQ</option>
                            <option value="2">ONE WORD</option>
                            <option value="3">DESCRIPTIVE</option>
                        </select>
                    </div>
        
        
                    <div class="col-sm-4 mb-4">
                        <label>Difficulty Level</label>
                        <select
                            class="form-control"
                            name="difficultyselect"
                            id="difficultyselect"
                        >
                            <option value="All" selected="">All</option>
                            <option value="1">Easy</option>
                            <option value="2">Medium</option>
                            <option value="3">Hard</option>
                        </select>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <label>Created By</label>
                        <select
                            class="form-control"
                            name="createdbyselect"
                            id="createdbyselect"
                        >
                            <option value="All" selected="">All</option>
                            <option value="1">By me</option>
                        </select>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <label>CO's</label>
                        <select
                            class="form-control"
                            name="coselect"
                            id="coselect"
                        >
                            <option value="All" selected="">All</option>
                          
							 <% for( let index = 1; index <= cos; index++ ) { %>
                             
                            
							<option value="<%= index %>">
								CO-<%= index %>
							</option>
							<% } %>
                            
                        </select>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <label>Topic</label>
                        <select
                            class="form-control"
                            name="topicselect"
                            id="topicselect"
                        >
                            <option value="All" selected="">All</option>
                            
                        </select>
                    </div>
                    <div class="col-sm-4 mb-4">
                        <label>Marks</label>
                        <select
                            class="form-control"
                            name="markselect"
                            id="markselect"
                        >
                            <option value="All" selected="">All</option>
                            
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button type="submit" id="generateDataTable" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
