
<style>
    .modalQuestion{
        display: inline-block;
        font-size: 20px;
    }
   
</style>
<div
	class="modal fade modal-xl"
	id="questionDetailModal"
	tabindex="-1"
	aria-labelledby="questionDetailModalLabel"
	aria-hidden="true"
    
>
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="questionDetailModalLabel">Question Detail</h3>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			
				<div class="modal-body">
					
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-secondary"
						data-bs-dismiss="modal"
					>
						Close
					</button>					
				</div>
		</div>
	</div>
</div>