<div class="sidebar" id="sidebar">
  <div class="dashboard">
    <!-- Button trigger modal -->
    <a id="dashboard" href="/teacher">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Dashboard -->
      <i class="fa-solid fa-table-list"></i>&nbsp;&nbsp;Dashboard
    </a>
  </div>
  <div class="createQuiz">
    <!-- Button trigger modal -->
    <a id="createQuiz" href="/teacher/createQuiz">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Departments -->
      <i class="fa-regular fa-calendar-plus"></i>&nbsp;&nbsp;Create Quiz
    </a>
  </div>
  <div class="viewQuiz">
    <a id="viewQuiz" href="/teacher/viewQuiz">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Teachers -->
      <i class="fa-regular fa-eye"></i>&nbsp;&nbsp;View Quiz
    </a>
  </div>

  <div class="questions">
    <a id="questionss" href="/teacher/addQuestion/topics">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Students -->
      <i class="fa-solid fa-file-circle-question"></i>&nbsp;&nbsp;Questions
    </a>
  </div>
  <div class="student">
    <a id="students" href="/teacher/students">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Students -->
      <i class="fa-solid fa-users"></i>&nbsp;&nbsp;Students
    </a>
  </div>
  <div class="subject">
    <a id="subjects" href="/teacher/subjects">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Subjects -->
      <i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Subjects
    </a>
  </div>
</div>
