.uk-table-hover tbody tr:hover,
.uk-table-hover > tr:hover {
	background: #c4d3f6;
	background-color: #c4d3f6;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-image: none;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
}
table.dataTable thead {
	background-color: rgb(0, 56, 101);
}
table.dataTable thead th {
	color: #fff;
	font-weight: 500;
	font-family: "Nunito", sans-serif;
	font-size: 15px;
}
#datatable_wrapper {
	margin: 50px;
}
#datatable {
	margin-top: 15px;
	overflow: hidden;
	border-radius: 15px;
}
table.dataTable tr.even {
	background-color: #e6f4f1;
}
table.dataTable tr.odd {
	background-color: #e6f4f1;
}
table.dataTable tr.even:hover {
	background-color: #c4d3f6;
}
table.dataTable tr.odd:hover {
	background-color: #c4d3f6;
}
.paginate_button.next {
	margin-left: 20px;
}
.paginate_button.previous {
	margin-right: 20px;
}
.cdatatableDetails {
	margin-top: 4px;
}
.page-link {
	text-decoration: none;
}
.page-link:hover {
	text-decoration: none;
}
.sorting {
	text-align: center;
}
.dt-head-center {
	text-align: center;
}
table.dataTable thead .sorting::before {
	/* right: 22px !important; */
	margin-right: 4px;
	margin-right: -4px;
	/* margin-top: ; */
	content: "\2303" !important;
	/* top: 31px; */
}
table.dataTable thead .sorting::after {
	/* right: 22px !important; */
	margin-top: -5px;
	margin-right: -4px;
	content: "\2304" !important;
	/* top: 31px; */
}
