<%- include('../partials/header') -%>
<div class="container pb-10 ">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6  border border-dark rounded ">
      <form action="/student/enrollmentcheck" method="post">
        <div class="mb-3">
          <label for="enrollment" class="form-label"> Enrollment </label>
          <input
            name="Enrollment"
            class="form-control"
            id="enrollment"
            type="text"
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('../partials/footer') -%>
