<%- include('../partials/header') -%>
<link rel="stylesheet" href="/stylesheets/style.css">
    <div class="container pb-10">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6 border border-dark rounded">
                <form action="/student/forgetPassword" method="POST" id="t">
                    <div class="form-group">
                        <label>Enrollment no.</label>
                        <input type="text" name="enrollment" id="enrollment" placeholder="eg. 210170116001  " class="form-control mt-2"/>
                    </div>
                    
                    <div class="form-group mt-2 mb-2 text-center">
                        <button type="submit" id="sub" class="btn btn-primary" value="abc">
                            Send Password
                        </button>
                        
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') -%>
