<div
	class="modal fade"
	id="instructionModal"
	tabindex="-1"
	aria-labelledby="instructionModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="instructionModalLabel" style="color: red;">INSTRUCTIONS</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			
				<div class="modal-body">
                    <p align="justify">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste voluptatum vitae quibusdam ea sed asperiores eos eveniet dolorum voluptatibus, commodi ullam nemo impedit rem in, nobis minima incidunt molestias natus! Rerum vero similique molestiae consequuntur eos labore delectus facere. Aliquid, totam iure neque eveniet, deserunt aperiam recusandae possimus doloremque nostrum optio quidem explicabo placeat molestiae incidunt nam quasi. Libero iste labore possimus quo impedit magnam nesciunt esse sed, hic minus similique omnis illum dolor, ducimus, nam maxime minima error quae sit quia rem commodi! Praesentium odio eveniet quae eum deleniti, quos labore dolore id nihil deserunt optio corporis culpa quis ut. Eius praesentium non facilis provident ipsa nihil error consequuntur eveniet, qui voluptatibus! Praesentium debitis voluptate labore animi aliquid eos natus molestias libero? Corporis expedita maxime quaerat quasi natus sapiente doloremque, temporibus nisi officia porro saepe tenetur atque repellendus sed fuga officiis deserunt consequuntur minima, esse, ea suscipit perspiciatis possimus? Aspernatur numquam nisi ipsum blanditiis nemo suscipit dolorem ea eaque excepturi, vel, explicabo cupiditate voluptatem placeat debitis eos quia voluptas maxime quasi voluptates dolores sint? Ad voluptas blanditiis aliquid commodi sunt eos magnam praesentium reprehenderit rerum quia! Quasi, aut quod ad quidem laboriosam consequuntur vero nam laborum. Neque exercitationem impedit dolorem, commodi maiores doloribus, pariatur recusandae quam eum quis voluptates! Quaerat iusto adipisci natus vero quas aut maxime ratione, at ut doloremque perferendis minima aliquid aliquam sequi laudantium ad consequatur odit, voluptatem impedit soluta dolorum distinctio? Illo eaque sequi nobis, ipsa et cumque a quia inventore odit molestiae, odio voluptatum perspiciatis error animi amet consequatur eum suscipit aperiam. Saepe tempore quam sit laboriosam culpa repellat excepturi fugiat minima repudiandae sequi nulla natus numquam a adipisci sed nam, odit unde, quibusdam et reprehenderit maxime mollitia debitis! Aspernatur iure quidem magnam fugit! Officiis in eum modi magni ea magnam dignissimos accusamus quos!
                    </p></div>
				<div class="modal-footer" >
					<button
						type="button"
						class="btn"
						data-bs-dismiss="modal"
                        id="close"
                        style="color: white;"
					>
						Close
					</button>
					
				</div>
			
		</div>
	</div>
</div>
