<%- include('../partials/header') -%>
<link rel="stylesheet" href="/stylesheets/quizPageStyle.css" />

<div class="grid-container">
  <!-- HEADER -->
  <div class="header">
    <!-- <div class="menu-icon">
         <span class="material-icons-outlined"></span>  
                <span><i class="fa-solid fa-bars fa-xl"></i></span>
        </div> -->
    <div class="header-left">
      <h2 class="mt-3 header-left">QuizApp</h2>
    </div>
    <div class="header-right" id="header-right">
      <div class="enroll">Enrollment :</div>
      <div class="sub">Subject :</div>
      <div class="dept">Department :</div>
    </div>
  </div>

  <!-- MAIN -->
  <div class="main-container mt-5 ps-5 pe-5">
    <div class="row main-block">
      <!-- MAIN-LEFT -->
      <div class="col-8 question-box">
        <div class="mb-3 h3 question-header">Question:</div>
        <div class="mb-3 question-scroll">
          <div class="mb-3 question-content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero,
            nam illo adipisci ipsum alias, incidunt quae iure incidunt ipsum
            dolores quis impedit unde Lorem ipsum, dolor sit amet consectetur
            adipisicing elit
          </div>
        </div>

        <!-- FOOTER BUTTONS -->
        <div class="footer-buttons box-shadow">
          <div class="footer-buttonsEnd">
            <button type="reset" id="clear" class="btn btn-dark">Clear</button>
            <button type="button" id="next" class="btn btn-warning">
              Next
            </button>
          </div>
          <div class="footer-buttonsEnd">
            <button type="button" id="saveandnext" class="btn btn-success">
              Save and Next
            </button>
          </div>
        </div>
      </div>

      <!-- MAIN-RIGHT -->
      <div class="col-4 questionlist-box ps-2">
        <div class="timeLabel mb-2">
          <p align="right">
            Remaining Time : <span>hr : </span><span> min :</span
            ><span> sec </span>
          </p>
        </div>
        <div class="sub-box">
          <div
            class="question-list question-list-scroll mb-3"
            id="question-list"
          >
            <% for(let i = 1; i <= 30; i++){ %>
            <div class="span"><%= i %></div>
            <% } %>
          </div>

          <div class="box-shadow">
            <div class="count-indicator mb-3" id="count-indicator">
              <div class="count">
                <div
                  class="not-visited badge rounded-pill bg-secondary"
                  style="font-size: 1rem"
                >
                  1
                </div>
                &ensp;Not Visited
              </div>
              <div class="count">
                <div
                  class="not-answered badge rounded-pill bg-warning"
                  style="font-size: 1rem"
                >
                  12
                </div>
                &ensp;Not Answered
              </div>

              <div class="count">
                <div
                  class="answered badge rounded-pill bg-success"
                  style="font-size: 1rem"
                >
                  12
                </div>
                &ensp;Answered
            </div>
        </div>
    </div>

            <div class="instructions mb-3 me-2 ms-2">
              <p align="justify">
                <b>INSTRUCTION :</b>
                  <!--<BR />Lorem ipsum dolor sit amet
                consectetur, aetur corrupti eligendi, accusamus assumenda in
                minima? -->
              </p>
            </div>
            <div class="button m-3">
              <button
                type="button"
                name="submit"
                id="submit"
                class="btn btn-primary w-100 mb-3"
              >
                Submit
              </button>
            </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <%- include('../partials/footer')-%>
</div>
