<div class="sidebar" id="sidebar">
    <div class="dashboard">
        <!-- Button trigger modal -->
        <a id="dashboard" href="/student">
            <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Dashboard -->
            <i class="fa-solid fa-table-list"></i>&nbsp;&nbsp;Dashboard
        </a>
    </div>
    <div class="upcomingQuiz">
        <a id="upcomingQuiz" href="/student/upcomingQuiz">
            <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Subjects -->
            <i class="fa-solid fa-arrow-down-short-wide"></i
            >&nbsp;&nbsp;Upcoming quiz
        </a>
    </div>
    <div class="availableQuiz">
        <!-- Button trigger modal -->
        <a id="availableQuiz" href="/student/availableQuiz">
            <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Departments -->
            <i class="fa-solid fa-cloud-arrow-down"></i>&nbsp;&nbsp;Available
            Quiz
        </a>
    </div>
    <div class="otherQuiz">
        <!-- Button trigger modal -->
        <a id="otherQuiz" href="/student/otherQuiz">
            <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Departments -->
            <i class="fa-solid fa-cloud-arrow-down"></i>&nbsp;&nbsp;Other Quiz
        </a>
    </div>

    <div class="history">
        <a id="history" href="/student/history">
            <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Students -->
            <i class="fa-solid fa-clock-rotate-left"></i>&nbsp;&nbsp;History
        </a>
    </div>
    <div class="logout">
        <a id="subjects" href="/logout">
            <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Subjects -->
            <i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Logout
        </a>
    </div>
</div>
