<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/style_temp.css" />
<!-- <link rel="stylesheet/scss" type="/scss" href="/stylesheets/upcomingQuiz.scss" /> -->

<div class="grid-container">
  <!-- Header -->
  <%- include("./studentHeader") %>
  <!-- End Header -->

  <!-- Sidebar -->
  <%- include("./studentSidebar") %>
  <!-- End Sidebar -->

  <div class="main-container">

    <section>
      <div class="container-lg py-5">
        <div class="row">
          <div class="col-sm-6 col-md-4 mb-4">
            <div class="card box-5 shadow-sm h-100">
              <div class="card-body position-relative">
                <div
                  class="top-right"
                  style="position: absolute; top: 13px; right: 16px"
                >
                  subject
                </div>
                <div class="row">
                  <div class="card-title d-flex  col-auto" >
                    <span style="font-size: 3.5rem">1</span>
                    <div class="row mt-3">
                      <div
                        class="col-auto vstack ms-1"
                        style="border-right: 1px solid #000000; height: 50px"
                      >
                        <span class="month text-uppercase">sept</span
                        ><span class="year text-uppercase">2023</span>
                      </div>
                      <!-- <div class="col-auto "><span>12:00 </span></div> -->
                    </div>
                  </div>
                  <div class="card-title d-flex col-auto" >
                    <span class="day" style="font-size: 3.5rem">1</span>
                    <div class="row mt-3">
                      <div class="col-auto vstack ms-1">
                        <span class="month text-uppercase">sept</span
                        ><span class="year text-uppercase">2023</span>
                      </div>
                      <!-- <div class="col-auto "><span>12:00 </span></div> -->
                    </div>
                  </div>
                </div>
                <div class="row " style="position: relative; bottom: 25px;">
                    <div class="col-auto ms-1">12:00 PM</div>
                    <div class="col-auto ms-1">02:00 PM</div>
                  

                </div>

                <div class="quizname h4">Quiz 1</div>
                <div class="quizmark">30 marks</div>
                <div><i class="fas fa-stopwatch me-1"></i>120 minutes</div>

              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 mb-4">
            <div class="card box-5 shadow-sm h-100">
              <div class="card-body position-relative">
                <div
                  class="top-right"
                  style="position: absolute; top: 13px; right: 16px"
                >
                  subject
                </div>
                <div class="row">
                  <div class="card-title d-flex mb-2 col-auto">
                    <span class="day" style="font-size: 3.5rem">1</span>
                    <div class="row mt-3">
                      <div
                        class="col-auto vstack ms-1"
                        style="border-right: 1px solid #000000; height: 50px"
                      >
                        <span class="month text-uppercase">sept</span
                        ><span class="year text-uppercase">2023</span>
                      </div>
                      <!-- <div class="col-auto "><span>12:00 </span></div> -->
                    </div>
                  </div>
                  <div class="card-title d-flex mb-2 col-auto">
                    
                    <div class="row mt-3">
                      <div class="col-auto vstack ms-1">
                        <span class="month text-uppercase">&nbsp;</span
                        ><span class="year text-uppercase">12:00-2:00</span>
                      </div>
                      <!-- <div class="col-auto "><span>12:00 </span></div> -->
                    </div>
                  </div>
                </div>

                <div class="quizname h4">Quiz 1</div>
                <div class="quizmark">30 marks</div>
                <div><i class="fas fa-stopwatch me-1"></i>120 minutes</div>

               
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </section>
  </div>
  <!--MAIN-->
</div>
<script src="/scripts/studentSidebar.js"></script>

<%- include('../partials/footer2') -%>
